@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Getting Started with SignalR</h1>
    <h4 id="messageCount"></h4>
</div>
<div id="googleMap" style="width:100%;height:400px;"></div>
<div id="messages">
</div>
<script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/messageBroker.js"></script>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDu5Tg8gLUV13GE4IPcuTIi787UY0rVz4&callback=initMap"></script>